header nav .navbar-brand {
  display: flex;
  gap: 12px;
  align-items: center;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #233348;
  mix-blend-mode: normal;
}
header nav .navbar-brand .ellipse {
  width: 41px;
  height: 41px;
  background: #458FF6;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav .navbar-nav {
  display: flex;
  gap: 40px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #1F1534;
}
header nav .navbar-nav .nav-item .nav-link:hover {
  color: red;
}
header main .top-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 80px 0px;
}
header main .top-banner .home-text {
  width: 445px;
  height: 338px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
header main .top-banner h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
  mix-blend-mode: normal;
}
header main .top-banner h6 {
  width: 400px;
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  color: #7D7987;
  mix-blend-mode: normal;
}
header main .top-banner .main-btn {
  background: #458FF6;
  border: none;
  color: #FFFFFF;
  mix-blend-mode: normal;
}
header main .top-banner .main-btn .main-btn {
  border-radius: 55px;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0px 40px;
}

.services {
  margin: 80px 0px;
  position: relative;
}
.services .services-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 0px;
}
.services .services-text h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  text-align: center;
  color: #000000;
  mix-blend-mode: normal;
  position: relative;
  margin-bottom: 61px;
}
.services .services-text h2:after {
  position: absolute;
  content: "";
  width: 56px;
  height: 2px;
  left: 623px;
  top: 85px;
  background: #000000;
  border-radius: 5px;
}
.services .services-text p {
  width: 900px;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #7D7987;
  mix-blend-mode: normal;
}
.services .services-card {
  margin: 40px 0px;
}
.services .services-card .card {
  padding: 47px 50px 47px 38px;
  background: #FFFFFF;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  border: none;
}
.services .services-card .card img {
  width: 92px;
  height: 90px;
}
.services .services-card .card h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 56px;
  color: #000000;
  mix-blend-mode: normal;
}
.services .services-card .card p {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #7D7987;
  mix-blend-mode: normal;
}
.services .services-img {
  position: absolute;
  width: 938px;
  height: 671;
  top: 175px;
  left: -6.18%;
  transform: rotate(11.46deg);
}
.services .services-btn .main-btn {
  border: 2px solid #458FF6;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  color: #458FF6;
  padding: 0 51px;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  border-radius: 55px;
  mix-blend-mode: normal;
}

.leading {
  margin: 150px 0;
}
.leading .leading-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.leading .leading-row .leading-text {
  width: 486px;
  height: 388px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.leading .leading-row .leading-text h2 {
  position: relative;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
  mix-blend-mode: normal;
}
.leading .leading-row .leading-text h2::after {
  position: absolute;
  content: " ";
  width: 56px;
  height: 2px;
  left: 0px;
  top: 150px;
  background: #000000;
  border-radius: 10px;
}
.leading .leading-row .leading-text p {
  margin-top: 50px;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7D7987;
  mix-blend-mode: normal;
  width: 370px;
}
.leading .leading-row .leading-text .main-btn {
  border: 2px solid #458FF6;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  color: #458FF6;
  padding: 0 51px;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  border-radius: 55px;
  mix-blend-mode: normal;
}

.apps {
  margin: 100px 0;
}
.apps .apps-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.apps .apps-row .apps-text {
  width: 420px;
  height: 375px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.apps .apps-row .apps-text h2 {
  width: 250px;
  position: relative;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
  mix-blend-mode: normal;
}
.apps .apps-row .apps-text h2::after {
  position: absolute;
  content: " ";
  width: 56px;
  height: 2px;
  left: 0px;
  top: 150px;
  background: #000000;
  border-radius: 10px;
}
.apps .apps-row .apps-text p {
  max-width: 340px;
  margin-top: 50px;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7D7987;
  mix-blend-mode: normal;
  width: 370px;
}
.apps .apps-row .apps-text .main-btn {
  border: 2px solid #458FF6;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  color: #458FF6;
  padding: 0 51px;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  border-radius: 55px;
  mix-blend-mode: normal;
}
.apps .apps-row .apps-img {
  width: 100%;
}

.article {
  margin: 150px 0;
}
.article .heading-row {
  padding: 100px 0;
}
.article .heading-row h2 {
  position: relative;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
  mix-blend-mode: normal;
}
.article .heading-row h2::after {
  position: absolute;
  content: " ";
  width: 56px;
  height: 2px;
  left: 635px;
  top: 100px;
  background: #000000;
  border-radius: 10px;
}
.article .card-row {
  padding: 0px;
}
.article .card-row .card-img {
  width: 100%;
}
.article .card-row .card-img img {
  width: 300px;
}/*# sourceMappingURL=style.css.map */