$mycolor: red;

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Mulish', sans-serif;
}
@mixin main-btn{
    .main-btn{
        border-radius: 55px;
        font-weight: 700;
        font-size: 18px;
        line-height: 60px;
        width: fit-content;
        padding: 0px 40px;
    }
}


header{
    nav{
        .navbar-brand{
            display: flex;
            gap: 12px;
            align-items: center;
            font-family: 'Mulish';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 30px;
            color: #233348;
            mix-blend-mode: normal;
            .ellipse{
                width: 41px;
                height: 41px;
                background: #458FF6;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .navbar-nav{
            display: flex;
            gap: 40px;
            font-family: 'Mulish';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 23px;
            color: #1F1534;
            .nav-item{
                .nav-link{
                    &:hover{
                        color: red;
                    }
                }
            }
        }
    }
    main{
        .top-banner{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 80px 0px;
            .home-text{
                width: 445px;
                height: 338px;
                display: flex;
                flex-direction: column;
                gap: 30px;
            }
            h1{
                font-weight: 700;
                font-size: 48px;
                line-height: 56px;
                color: #000000;
                mix-blend-mode: normal;
            }
            h6{
                width: 400px;
                font-weight: 300;
                font-size: 21px;
                line-height: 32px;
                color: #7D7987;
                mix-blend-mode: normal
            }
            .main-btn{
                background: #458FF6;
                border: none;
                color: #FFFFFF;
                mix-blend-mode: normal;
                width: fit-content;
                padding: 0 51px;
                font-weight: 700;
                font-size: 18px;
                line-height: 60px;
                border-radius: 55px;
            }
        }
    }
}


.services{
    margin: 80px 0px;
    position: relative;
    .services-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 40px 0px;
        h2{
            font-weight: 700;
            font-size: 36px;
            line-height: 56px;
            text-align: center;
            color: #000000;
            mix-blend-mode: normal;
            position: relative;
            margin-bottom: 61px;
            &:after{
                position: absolute;
                content: "";
                width: 56px;
                height: 2px;
                left: 623px;
                top: 85px;
                background: #000000;
                border-radius: 5px;
            }
        }
        p{
            width: 900px;
            font-weight: 300;
            font-size: 18px;
            line-height: 30px;
            text-align: center;
            color: #7D7987;
            mix-blend-mode: normal;
        }
    }
    .services-card{
        margin: 40px 0px;
        .card{
            padding: 47px 50px 47px 38px;
            background: #FFFFFF;
            box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
            border-radius: 20px;
            border: none;
            img{
                width: 92px;
                height: 90px;
            }
            h3{
                font-weight: 700;
                font-size: 24px;
                line-height: 56px;
                color: #000000;
                mix-blend-mode: normal;
            }
            p{
                font-weight: 300;
                font-size: 16px;
                line-height: 28px;
                color: #7D7987;
                mix-blend-mode: normal;
            }
        }
        
    }
    .services-img{
        position: absolute;
        width: 938px;
        height: 551px;
        top: 195px;
        left: -6.18%;
        transform: rotate(1.46deg);
    }
    .services-btn{
        margin-top: 72px;
        .main-btn{
            border: 2px solid #458FF6;
            width: fit-content;
            background-color: transparent;
            color: #458FF6;
            padding: 0 51px;
            font-weight: 700;
            font-size: 18px;
            line-height: 60px;
            border-radius: 55px;
            mix-blend-mode: normal;
        }
    }
}

.leading{
    margin: 150px 0;
    .leading-row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .leading-text{
            width: 486px;
            height: 388px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            h2{
                position: relative;
                font-weight: 700;
                font-size: 36px;
                line-height: 56px;
                color: #000000;
                mix-blend-mode: normal;
                &::after{
                    position: absolute;
                    content: " ";
                    width: 56px;
                    height: 2px;
                    left: 0px;
                    top: 150px;
                    
                    background: #000000;
                    border-radius: 10px;
                }
            }
            p{
                margin-top: 50px;
                font-weight: 300;
                font-size: 18px;
                line-height: 30px;
                color: #7D7987;
                mix-blend-mode: normal;
                width: 370px;
                
            }
            .main-btn{
                border: 2px solid #458FF6;
                width: fit-content;
                background-color: transparent;
                color: #458FF6;
                padding: 0 51px;
                font-weight: 700;
                font-size: 18px;
                line-height: 60px;
                border-radius: 55px;
                mix-blend-mode: normal;
            }
        }
    }
}
.apps{
    margin: 100px 0;
    .apps-row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .apps-text{
            width: 420px;
            height: 375px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            h2{
                width: 250px;
                position: relative;
                font-weight: 700;
                font-size: 36px;
                line-height: 56px;
                color: #000000;
                mix-blend-mode: normal;
                &::after{
                    position: absolute;
                    content: " ";
                    width: 56px;
                    height: 2px;
                    left: 0px;
                    top: 150px;
                    
                    background: #000000;
                    border-radius: 10px;
                }
            }
            p{
                max-width: 340px;
                margin-top: 50px;
                font-weight: 300;
                font-size: 18px;
                line-height: 30px;
                color: #7D7987;
                mix-blend-mode: normal;
                width: 370px;
            }
            .main-btn{
                border: 2px solid #458FF6;
                width: fit-content;
                background-color: transparent;
                color: #458FF6;
                padding: 0 51px;
                font-weight: 700;
                font-size: 18px;
                line-height: 60px;
                border-radius: 55px;
                mix-blend-mode: normal;
                i{
                    margin-left: 14px;
                }
            }
        }
        .apps-img{
            width: 100%;
        }
    }
}

.testimonial-section{
    button.carousel-control-prev{
        position: absolute;
        left: 30.9%;
        right: 6.82%;
        // top: 7.14%;
        bottom: -129.57%;
        color: #458FF6;
        

    }
    button.carousel-control-next{
        position: absolute;
        left: 52.9%;
        right: 6.82%;
        // top: 7.14%;
        bottom: -129.57%;
        i.carousel-control-next-icon{
            font-size: 45px;
            // font-weight: bold;
            color: #458FF6;;
        }
        

    }
    // background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 24px;
    padding: 100px 0px;
    h2{
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
        color: #FFFFFF;
        mix-blend-mode: normal;
        padding-bottom: 40px;
        position: relative;
        &::after{
            position: absolute;
            content: " ";
            width: 56px;
            height: 2px;
            left: 50%;
            top: 100%;
            background-color: #FFFFFF;
            border-radius: 10px;
        }
    }
    .profile{
        padding-top: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        img{
            width: 180px;
            height: 180px;
        }
        h5{
            font-weight: 700;
            font-size: 22px;
            line-height: 18px;
            color: #FFFFFF;
            mix-blend-mode: normal;
        }
        p{
            font-weight: 400;
            font-size: 18px;
            line-height: 48px;
            color: rgba(255, 255, 255, 0.85);
            mix-blend-mode: normal;
        }
    }
    p.para{
        font-weight: 400;
        font-size: 19px;
        line-height: 30px;
        color: rgba(255, 255, 255, 0.9);
        mix-blend-mode: normal;
        width: 32%;
    }
    .carousel-indicators{
        bottom: -6.185rem;
        button{
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #5B9BF3 !important;
            opacity: 0.3 !important;
            
            &.active{
                background-color: #5B9BF3;
                opacity: 1 !important;
                width: 10px;
                height: 10px;
                border-radius: 50%;
            }
        }
    }
    
}
.carousel-inner{
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 24px;}

.article-section{
    position: relative;
    margin: 150px 0;
    img.article-bg{
        position: absolute;
        // left: 93.88%;
        right: -20%;
        top: 20%;
        // bottom: -142.01%;
        width: 778px;
        height: 527px;
        // transform: rotate(19.84deg);
    }
    .article{
    
    
        .heading-row{
            padding: 100px 0;
            h2{
                position: relative;
                font-weight: 700;
                font-size: 36px;
                line-height: 56px;
                color: #000000;
                mix-blend-mode: normal;
                &::after{
                    position: absolute;
                    content: " ";
                    width: 56px;
                    height: 2px;
                    left: 635px;
                    top: 100px;
                    
                    background: #000000;
                    border-radius: 10px;
                }
            }
        }
        .card-row{
            // margin: 0px 80px;    
            .card{
                border-radius: 25px 25px 0px 0px;
                width: 100%;
                border: none;
                background: #FFFFFF;
                /* drop shadow */
                
                box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
                border-radius: 20px;
                
                .card-img{
                    width: 100%;
                    // border-radius: 25px 25px 0px 0px;
                    img{
                        width: 100%;
                        border-radius: 25px 25px 0px 0px;
                    }
                }
                .card-content{
                    padding: 21px 51px 35px 33px;
                    h5{
                        font-weight: 700;
                        font-size: 21px;
                        line-height: 32px;
                        /* or 152% */
                        
                        
                        color: #000000;
                        
                        mix-blend-mode: normal;
                        width: 80%;
                    }
                    p{
                        font-weight: 300;
                        font-size: 16px;
                        line-height: 28px;
                        /* or 175% */
                        
                        
                        color: #7D7987;
                        
                        mix-blend-mode: normal;
                        width: 75%;
                    }
                    a{
                        font-weight: 600;
                        font-size: 17px;
                        line-height: 28px;
                        /* identical to box height, or 165% */
                        
                        
                        color: #4089ED;
                        
                        mix-blend-mode: normal;
                        text-decoration: none;
                    }
                }
            }
            
        }
        .btn-row{
            margin-top: 72px;
            .main-btn{
                border: 2px solid #458FF6;
                width: fit-content;
                background-color: transparent;
                color: #458FF6;
                padding: 0 51px;
                font-weight: 700;
                font-size: 18px;
                line-height: 60px;
                border-radius: 55px;
                mix-blend-mode: normal;
            }
        }
    }

}

footer{
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    margin: 80px 0px 0px 0px;
    padding: 80px 0px;
    .footer{
        .footer-row{
            display: flex;
            flex-direction: row;
            align-items: center;
            .content{
                .footer-logo{
                    margin-bottom: 21px;
                    display: flex;
                    gap: 12px;
                    align-items: center;
                    font-family: 'Mulish';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 33px;
                    color: #FFFFFF;
                    mix-blend-mode: normal;
                    .ellipse{
                        width: 41px;
                        height: 41px;
                        background: #FFFFFF;
                        color: #5B9BF3;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
                p{
                    font-weight: 300;
                    font-size: 18px;
                    line-height: 28px;
                    /* or 156% */
                    
                    
                    color: #FFFFFF;
                    
                    mix-blend-mode: normal;
                    width: 83%;
                    margin-bottom: 33px;
                }
                small{
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 28px;
                    /* identical to box height, or 175% */
                    
                    
                    color: #FFFFFF;
                    
                    mix-blend-mode: normal;
                    
                }
            }
            .footer-list{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-self: center;
                gap: 200px;
                color: #FFFFFF;
                mix-blend-mode: normal;
                ul{
                    width: fit-content;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    list-style: none;
                    li{
                        font-weight: 300;
                        font-size: 18px;
                        line-height: 38px;
                        flex-wrap: nowrap;
                        h6{
                            font-weight: 700;
                            font-size: 20px;
                            line-height: 60px;
                        }
                    }
                }
            }
        }
    }
}
