@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif !important; }

body {
  font-family: 'Inter', sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.wrapper {
  padding: 130px 0px 140px 0px !important; }

.wrapper2 {
  padding-top: 200px; }

h1 {
  font-weight: 700 !important;
  font-size: 56px !important;
  line-height: 64px !important; }

h2 {
  font-weight: 700 !important;
  font-size: 40px !important;
  line-height: 48px !important; }

h4 {
  font-weight: 700 !important;
  font-size: 24px !important;
  line-height: 32px !important; }

h5 {
  font-weight: 700 !important;
  font-size: 20px !important;
  line-height: 28px !important; }

h6 {
  font-weight: 700 !important;
  font-size: 18px !important;
  line-height: 26px !important; }

p {
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 24px !important; }

small {
  font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 22px !important; }

a {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px; }

header {
  padding-top: 48px; }
  header nav .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: #080708; }
    header nav .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
      color: #349B60; }
    header nav .navbar-collapse .navbar-nav .nav-item .nav-link:focus {
      color: #349B60;
      opacity: 0.5; }
    header nav .navbar-collapse .navbar-nav .nav-item .nav-link.active {
      color: #349B60;
      text-decoration-line: underline; }

.hero-section .container .row .col-md-6 .content-section {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  flex-direction: column; }
  .hero-section .container .row .col-md-6 .content-section h1 {
    color: #080708; }
  .hero-section .container .row .col-md-6 .content-section p {
    color: #080708; }
  .hero-section .container .row .col-md-6 .content-section .main-btn {
    background-color: #349B60;
    color: #ffffff;
    display: flex !important;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 14px 32px;
    border-radius: 10px;
    border: none;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 24px !important; }
  .hero-section .container .row .col-md-6 .content-section img {
    position: absolute;
    bottom: -10%;
    right: 15%; }

.hero-section .container .row .col-md-6 .img-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; }
  .hero-section .container .row .col-md-6 .img-section img {
    width: 100%;
    object-fit: cover; }
  .hero-section .container .row .col-md-6 .img-section::before {
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    top: calc(7.6% / 2);
    left: calc(5.3% / 2);
    background: #FDCA40;
    border-radius: 30px;
    z-index: -1; }
  .hero-section .container .row .col-md-6 .img-section::after {
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    top: 7.6%;
    left: 5.3%;
    background: rgba(253, 202, 64, 0.5);
    border-radius: 30px;
    z-index: -1; }
  .hero-section .container .row .col-md-6 .img-section .play-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 88px;
    height: 88px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
    z-index: 1;
    cursor: pointer; }
    .hero-section .container .row .col-md-6 .img-section .play-btn .play {
      z-index: 2;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(255, 255, 255, 0.2);
      position: relative; }
      .hero-section .container .row .col-md-6 .img-section .play-btn .play .play-icon {
        clip-path: polygon(0 0, 100% 50%, 0 100%);
        width: 26px;
        height: 26px;
        z-index: 3;
        background-color: #ffffff; }
    .hero-section .container .row .col-md-6 .img-section .play-btn:hover {
      background-color: #ffffff; }
      .hero-section .container .row .col-md-6 .img-section .play-btn:hover .play .play-icon {
        background-color: #349B60; }

.services {
  background-color: #349B60; }
  .services .container {
    display: flex;
    flex-direction: column;
    gap: 48px; }
    .services .container .content-row h2 {
      color: #ffffff; }
    .services .container .content-row div button {
      display: flex !important;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding: 14px 32px;
      border-radius: 10px;
      border: none;
      font-weight: 600 !important;
      font-size: 16px !important;
      line-height: 24px !important;
      background-color: #FDCA40;
      color: #ffffff; }
    .services .container .content-row div p {
      color: #ffffff;
      width: 48%; }
    .services .container .card-row {
      position: relative; }
      .services .container .card-row::after {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        background-color: #FDCA40;
        content: "or";
        top: calc(50% - 56px/2);
        left: calc(50% - 56px/2); }
      .services .container .card-row .services-card {
        width: 100%;
        background-color: #ffffff;
        padding: 64px 35px 64px 40px;
        border-radius: 14px;
        display: flex;
        align-items: center;
        gap: 38px; }
        .services .container .card-row .services-card .card-img img {
          width: 100%;
          height: 100%; }
        .services .container .card-row .services-card .card-content h4 {
          color: #080708; }
        .services .container .card-row .services-card .card-content p {
          color: #080708; }
        .services .container .card-row .services-card .card-content small {
          display: block;
          color: #349B60; }

.organizations .container .content-row h2 {
  color: #080708; }

.organizations .container .content-row p {
  color: #080708; }

.organizations .container .img-row .col-md-12 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .organizations .container .img-row .col-md-12 img.bg-img {
    width: 100%; }
  .organizations .container .img-row .col-md-12 .play-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 88px;
    height: 88px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
    z-index: 1;
    cursor: pointer; }
    .organizations .container .img-row .col-md-12 .play-btn .play {
      z-index: 2;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(255, 255, 255, 0.2);
      position: relative; }
      .organizations .container .img-row .col-md-12 .play-btn .play .play-icon {
        clip-path: polygon(0 0, 100% 50%, 0 100%);
        width: 26px;
        height: 26px;
        z-index: 3;
        background-color: #ffffff; }
    .organizations .container .img-row .col-md-12 .play-btn:hover {
      background-color: #ffffff; }
      .organizations .container .img-row .col-md-12 .play-btn:hover .play .play-icon {
        background-color: #349B60; }

.facilities .container {
  padding-bottom: 100px; }
  .facilities .container .content-row h2 {
    color: #080708; }
  .facilities .container .content-row div {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .facilities .container .content-row div p {
      width: 437px;
      color: #080708; }
    .facilities .container .content-row div .main-btn {
      display: flex !important;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding: 14px 32px;
      border-radius: 10px;
      border: none;
      font-weight: 600 !important;
      font-size: 16px !important;
      line-height: 24px !important;
      border: 1px solid #349B60;
      background-color: transparent;
      color: #349B60; }
  .facilities .container .card-row .col-md-4 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 96px; }
    .facilities .container .card-row .col-md-4::before {
      position: absolute;
      content: "";
      top: -48px;
      left: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 96px;
      height: 96px;
      border-radius: 50%;
      background: #ffffff;
      border: 3px solid #349B60;
      background-repeat: no-repeat;
      background-position: center; }
    .facilities .container .card-row .col-md-4 .fac-card {
      height: 100%;
      background-color: #349B60;
      box-shadow: 0px 4px 4px rgba(242, 244, 248, 0.75);
      border-radius: 14px;
      padding: 64px 15px 24px 24px; }
      .facilities .container .card-row .col-md-4 .fac-card h5 {
        color: #ffffff; }
      .facilities .container .card-row .col-md-4 .fac-card small {
        color: #ffffff;
        display: block;
        font-weight: 400 !important; }
      .facilities .container .card-row .col-md-4 .fac-card a {
        text-decoration: none;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        color: #ffffff; }
  .facilities .container .card-row h6 {
    color: #ffffff; }
  .facilities .container .card-row .card1::before {
    background-image: url(../images/fac-card1.png); }
  .facilities .container .card-row .card2::before {
    background-image: url(../images/fac-card2.png); }
  .facilities .container .card-row .card3::before {
    background-image: url(../images/fac-card3.png); }
  .facilities .container .card-row .about-card::before {
    background-image: url(../images/fac-card456.png); }

.pickup {
  background-color: #349B60;
  margin: 100px 0px; }
  .pickup .container {
    padding: 140px 0px; }
    .pickup .container .row {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .pickup .container .row .col-md-6 .content-section {
        display: flex;
        flex-direction: column;
        gap: 20px; }
        .pickup .container .row .col-md-6 .content-section h2 {
          color: #ffffff; }
        .pickup .container .row .col-md-6 .content-section p {
          color: #ffffff; }
        .pickup .container .row .col-md-6 .content-section div.line {
          width: 100%;
          height: 0px;
          border: 2px solid #FFFFFF;
          border-radius: 20px;
          background-color: #ffffff;
          position: relative; }
          .pickup .container .row .col-md-6 .content-section div.line::before {
            position: absolute;
            width: 16px;
            height: 16px;
            content: " ";
            border-radius: 50%;
            background-color: #FDCA40;
            top: -8px;
            left: -1.5px; }
          .pickup .container .row .col-md-6 .content-section div.line::after {
            position: absolute;
            width: 16px;
            height: 16px;
            content: " ";
            border-radius: 50%;
            border: 2px solid #ffffff;
            background-color: #349B60;
            top: -8px;
            right: -1.8px; }
        .pickup .container .row .col-md-6 .content-section div.step {
          width: 100%;
          margin-top: 16px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: #ffffff; }
          .pickup .container .row .col-md-6 .content-section div.step small {
            font-weight: 600 !important; }
          .pickup .container .row .col-md-6 .content-section div.step small.right {
            text-align: right;
            margin-left: 20px; }
        .pickup .container .row .col-md-6 .content-section fieldset {
          display: flex;
          flex-direction: column;
          gap: 24px; }
          .pickup .container .row .col-md-6 .content-section fieldset div {
            display: flex;
            gap: 24px;
            padding: 24px;
            background-color: #ffffff;
            border-radius: 18px; }
            .pickup .container .row .col-md-6 .content-section fieldset div input[type] {
              width: 24px;
              height: 24px;
              border-radius: 50%;
              accent-color: #349B60; }
        .pickup .container .row .col-md-6 .content-section .main-btn {
          display: flex !important;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          padding: 14px 32px;
          border-radius: 10px;
          border: none;
          font-weight: 600 !important;
          font-size: 16px !important;
          line-height: 24px !important;
          background-color: #FDCA40;
          color: #ffffff;
          width: fit-content; }

.slider {
  padding: 100px 0px; }
  .slider .heading .row h2 {
    color: #080708; }
  .slider .slide {
    margin-top: 40px;
    position: relative; }
    .slider .slide button.carousel-control-prev {
      position: absolute;
      width: 75px;
      height: 5px;
      background-color: #ffffff;
      opacity: 1;
      top: -7%;
      left: calc(100% - 25px - 75px - 112.5px); }
      .slider .slide button.carousel-control-prev .carousel-control-prev-icon {
        background-image: none;
        background-repeat: no-repeat;
        background-position: center; }
        .slider .slide button.carousel-control-prev .carousel-control-prev-icon img {
          width: 75px; }
    .slider .slide button.carousel-control-next {
      position: absolute;
      width: 75px;
      height: 5px;
      background-color: #ffffff;
      opacity: 1;
      top: -7%;
      left: calc(100% - 112.5px); }
      .slider .slide button.carousel-control-next .carousel-control-prev-icon {
        background-image: none;
        background-repeat: no-repeat;
        background-position: center; }
        .slider .slide button.carousel-control-next .carousel-control-prev-icon img {
          width: 75px; }
    .slider .slide .row .carousel-item .col-md-12 {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 24px; }

.news .container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 100px 0px; }
  .news .container .content-row {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .news .container .content-row .heading h2 {
      color: #080708; }
    .news .container .content-row .news-btn {
      display: flex;
      align-items: baseline; }
      .news .container .content-row .news-btn button {
        display: flex !important;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 14px 32px;
        border-radius: 10px;
        border: none;
        font-weight: 600 !important;
        font-size: 16px !important;
        line-height: 24px !important;
        background-color: transparent;
        border: 1px solid #349B60;
        color: #349B60; }
  .news .container .card-row {
    padding-bottom: 12px; }
    .news .container .card-row .card {
      margin-top: 22px !important;
      height: 100%;
      border-radius: 14px;
      border: none;
      box-shadow: 0px 4px 4px rgba(242, 244, 248, 0.75); }
      .news .container .card-row .card .card-img img {
        border: none !important;
        width: 100%;
        object-fit: cover; }
      .news .container .card-row .card .card-body {
        padding: 16px 20px;
        display: flex;
        flex-direction: column;
        gap: 8px; }
        .news .container .card-row .card .card-body small {
          color: #080708;
          opacity: 0.2; }
        .news .container .card-row .card .card-body h6 {
          color: #080708; }
        .news .container .card-row .card .card-body small.para {
          color: #080708;
          opacity: 1;
          font-weight: 400 !important; }
        .news .container .card-row .card .card-body a {
          color: #349B60;
          text-decoration: none;
          font-weight: 700;
          font-size: 14px;
          line-height: 22px; }

.subscribe .container {
  padding: 100px 0px 22px 0px;
  border-bottom: 1px solid rgba(8, 7, 8, 0.05); }
  .subscribe .container .row .content h1 {
    color: #080708; }
  .subscribe .container .row .content small {
    color: #080708;
    font-weight: 400 !important; }
  .subscribe .container .row .sub-input .input-group {
    border: 1px solid #080708;
    border-radius: 12px;
    padding: 15px 24px; }
    .subscribe .container .row .sub-input .input-group:hover {
      border: 1px solid #349B60; }
    .subscribe .container .row .sub-input .input-group:focus {
      border: 1px solid #349B60; }
    .subscribe .container .row .sub-input .input-group input {
      color: #080708;
      caret-color: #080708;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      box-shadow: unset !important; }
      .subscribe .container .row .sub-input .input-group input::placeholder {
        opacity: 0.15;
        color: #080708;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px; }
    .subscribe .container .row .sub-input .input-group a {
      margin: auto;
      padding: 0px 15px;
      text-decoration: none;
      font-weight: 700;
      font-size: 14px;
      line-height: 22px;
      color: #349B60; }

.footer .container {
  border-bottom: 1px solid rgba(8, 7, 8, 0.05);
  padding: 40px 0px; }
  .footer .container .row {
    display: flex;
    justify-content: space-between; }
    .footer .container .row .first {
      display: flex;
      flex-direction: column;
      gap: 20px; }
      .footer .container .row .first p {
        color: #080708; }
    .footer .container .row .col-md-2 ul {
      display: flex;
      flex-direction: column;
      gap: 8px;
      list-style-type: none;
      align-items: flex-start; }
      .footer .container .row .col-md-2 ul li {
        color: #080708;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px; }
    .footer .container .row .address {
      display: flex; }
      .footer .container .row .address .content {
        display: flex;
        flex-direction: column;
        gap: 15px; }
        .footer .container .row .address .content .location small,
        .footer .container .row .address .content .email small {
          margin-left: 12px;
          font-weight: 500 !important;
          color: #080708; }
        .footer .container .row .address .content .social {
          margin-top: 10px;
          display: flex;
          gap: 10px; }

footer {
  padding: 18px 0px; }
  footer .container .row .rights {
    padding: 0px; }
    footer .container .row .rights small {
      font-weight: 400 !important;
      color: #080708; }
  footer .container .row .policy {
    display: flex;
    gap: 22px;
    padding: 0px; }
    footer .container .row .policy small {
      font-weight: 500 !important;
      color: #080708; }

.about {
  padding: 128px 0px 122px 0px;
  background-color: #349B60; }
  .about .container .row {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .about .container .row .content-section {
      display: flex;
      flex-direction: column;
      gap: 32px; }
      .about .container .row .content-section h2 {
        color: #ffffff; }
      .about .container .row .content-section p {
        color: #ffffff;
        width: 75%; }
    .about .container .row .img-section img {
      width: 100%; }

.about-hero-section {
  margin: 64px 0px 88px 0px; }
  .about-hero-section .container {
    display: flex;
    flex-direction: column;
    gap: 40px; }
    .about-hero-section .container .row ul.d-flex {
      list-style-type: none; }
      .about-hero-section .container .row ul.d-flex li a {
        color: #080708;
        text-decoration: none; }
        .about-hero-section .container .row ul.d-flex li a ul {
          list-style-type: disc; }
          .about-hero-section .container .row ul.d-flex li a ul li {
            opacity: 0.3; }
    .about-hero-section .container .content-row {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 120px;
      justify-content: center; }
      .about-hero-section .container .content-row .content-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px; }
        .about-hero-section .container .content-row .content-col h1 {
          color: #080708; }
        .about-hero-section .container .content-row .content-col p {
          color: #080708; }

.team-members .container .content-row {
  margin-bottom: 40px;
  display: flex;
  align-items: center; }
  .team-members .container .content-row .content-heading h2 {
    color: #080708; }
  .team-members .container .content-row .content-btn .main-btn {
    display: flex !important;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 14px 32px;
    border-radius: 10px;
    border: none;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    background-color: #FDCA40;
    height: fit-content; }
    .team-members .container .content-row .content-btn .main-btn:hover {
      opacity: 0.8; }

.commercial-hero-section,
.residential-hero-section,
.pricing-hero-section {
  margin: 64px 0px 200px 0px; }
  .commercial-hero-section .container,
  .residential-hero-section .container,
  .pricing-hero-section .container {
    display: flex;
    flex-direction: column;
    gap: 40px; }
    .commercial-hero-section .container .row ul.d-flex,
    .residential-hero-section .container .row ul.d-flex,
    .pricing-hero-section .container .row ul.d-flex {
      list-style-type: none; }
      .commercial-hero-section .container .row ul.d-flex li a,
      .residential-hero-section .container .row ul.d-flex li a,
      .pricing-hero-section .container .row ul.d-flex li a {
        color: #080708;
        text-decoration: none; }
        .commercial-hero-section .container .row ul.d-flex li a ul,
        .residential-hero-section .container .row ul.d-flex li a ul,
        .pricing-hero-section .container .row ul.d-flex li a ul {
          list-style-type: disc; }
          .commercial-hero-section .container .row ul.d-flex li a ul li,
          .residential-hero-section .container .row ul.d-flex li a ul li,
          .pricing-hero-section .container .row ul.d-flex li a ul li {
            opacity: 0.3; }
    .commercial-hero-section .container .content-row,
    .residential-hero-section .container .content-row,
    .pricing-hero-section .container .content-row {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 120px;
      justify-content: center; }
      .commercial-hero-section .container .content-row .content-col,
      .residential-hero-section .container .content-row .content-col,
      .pricing-hero-section .container .content-row .content-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px; }
        .commercial-hero-section .container .content-row .content-col h1,
        .residential-hero-section .container .content-row .content-col h1,
        .pricing-hero-section .container .content-row .content-col h1 {
          color: #080708; }
        .commercial-hero-section .container .content-row .content-col p,
        .residential-hero-section .container .content-row .content-col p,
        .pricing-hero-section .container .content-row .content-col p {
          color: #080708; }

.work {
  padding: 128px 0px 144px 0px;
  background-color: #349B60; }
  .work .container {
    display: flex;
    flex-direction: column;
    gap: 40px; }
    .work .container .content-row {
      display: flex;
      gap: 16px; }
      .work .container .content-row h2 {
        color: #ffffff; }
      .work .container .content-row p {
        color: #ffffff; }
    .work .container .card-row .card-col .card {
      position: relative;
      border-radius: 14px;
      position: relative; }
      .work .container .card-row .card-col .card .card-body {
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 8px; }
        .work .container .card-row .card-col .card .card-body h5 {
          color: #080708; }
        .work .container .card-row .card-col .card .card-body small {
          color: #080708;
          font-weight: 400 !important; }
      .work .container .card-row .card-col .card .play {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 72px;
        height: 72px;
        border-radius: 50%;
        top: -36px;
        left: 36px;
        background-color: #FFD460; }
        .work .container .card-row .card-col .card .play .play-btn {
          width: 56px;
          height: 56px;
          border-radius: 50%;
          background: #FDCA40;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative; }
          .work .container .card-row .card-col .card .play .play-btn h5 {
            color: #ffffff;
            position: absolute;
            top: calc(50% - 14px);
            left: calc(50% - 4); }

.itad {
  padding: 200px 0px 100px 0px; }
  .itad .container .row .col-md-6 {
    display: flex;
    flex-direction: column;
    gap: 40px; }
    .itad .container .row .col-md-6 .content {
      padding: 0px 20px 0 35px;
      display: flex;
      flex-direction: column;
      gap: 16px; }
      .itad .container .row .col-md-6 .content h2 {
        color: #080708; }
      .itad .container .row .col-md-6 .content p {
        color: #080708; }
    .itad .container .row .col-md-6 .img-section {
      display: flex;
      justify-content: center;
      align-items: center; }
      .itad .container .row .col-md-6 .img-section img {
        width: 100%;
        border-radius: 14px; }
      .itad .container .row .col-md-6 .img-section .play-btn {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 88px;
        height: 88px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.3);
        z-index: 1;
        cursor: pointer; }
        .itad .container .row .col-md-6 .img-section .play-btn .play {
          z-index: 2;
          width: 64px;
          height: 64px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          background: rgba(255, 255, 255, 0.2);
          position: relative; }
          .itad .container .row .col-md-6 .img-section .play-btn .play .play-icon {
            clip-path: polygon(0 0, 100% 50%, 0 100%);
            width: 26px;
            height: 26px;
            z-index: 3;
            background-color: #ffffff; }
        .itad .container .row .col-md-6 .img-section .play-btn:hover {
          background-color: #ffffff; }
          .itad .container .row .col-md-6 .img-section .play-btn:hover .play .play-icon {
            background-color: #349B60; }
      .itad .container .row .col-md-6 .img-section .outer {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 88px;
        height: 88px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.3);
        z-index: 1;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.6); }
        .itad .container .row .col-md-6 .img-section .outer .play {
          z-index: 2;
          width: 64px;
          height: 64px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          background: rgba(255, 255, 255, 0.2);
          position: relative; }
          .itad .container .row .col-md-6 .img-section .outer .play .play-icon {
            clip-path: polygon(0 0, 100% 50%, 0 100%);
            width: 26px;
            height: 26px;
            z-index: 3;
            background-color: #ffffff; }
        .itad .container .row .col-md-6 .img-section .outer:hover {
          background-color: #ffffff; }
          .itad .container .row .col-md-6 .img-section .outer:hover .play .play-icon {
            background-color: #349B60; }
        .itad .container .row .col-md-6 .img-section .outer .inner {
          background-color: rgba(255, 255, 255, 0.6); }

.data-destruction {
  margin: 200px 0 100px; }
  .data-destruction .container .row {
    display: flex;
    flex-direction: column;
    gap: 40px; }
    .data-destruction .container .row .col-md-6 .content {
      display: flex;
      flex-direction: column;
      gap: 16px; }
      .data-destruction .container .row .col-md-6 .content h2 {
        color: #080708; }
      .data-destruction .container .row .col-md-6 .content p {
        color: #080708; }
    .data-destruction .container .row .col-md-12 .img-section {
      display: flex;
      justify-content: center;
      align-items: center; }
      .data-destruction .container .row .col-md-12 .img-section img {
        width: 100%;
        border-radius: 14px; }
      .data-destruction .container .row .col-md-12 .img-section .play-btn {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 88px;
        height: 88px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.3);
        z-index: 1;
        cursor: pointer; }
        .data-destruction .container .row .col-md-12 .img-section .play-btn .play {
          z-index: 2;
          width: 64px;
          height: 64px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          background: rgba(255, 255, 255, 0.2);
          position: relative; }
          .data-destruction .container .row .col-md-12 .img-section .play-btn .play .play-icon {
            clip-path: polygon(0 0, 100% 50%, 0 100%);
            width: 26px;
            height: 26px;
            z-index: 3;
            background-color: #ffffff; }
        .data-destruction .container .row .col-md-12 .img-section .play-btn:hover {
          background-color: #ffffff; }
          .data-destruction .container .row .col-md-12 .img-section .play-btn:hover .play .play-icon {
            background-color: #349B60; }

.pricing-hero-section {
  margin: 64px 0px 200px 0px;
  display: flex;
  flex-direction: column;
  gap: 80px; }
  .pricing-hero-section .container {
    display: flex;
    flex-direction: column;
    gap: 40px; }
    .pricing-hero-section .container .row ul.d-flex {
      list-style-type: none; }
      .pricing-hero-section .container .row ul.d-flex li a {
        color: #080708;
        text-decoration: none; }
        .pricing-hero-section .container .row ul.d-flex li a ul {
          list-style-type: disc; }
          .pricing-hero-section .container .row ul.d-flex li a ul li {
            opacity: 0.3; }
    .pricing-hero-section .container .content-row {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 120px;
      justify-content: center; }
      .pricing-hero-section .container .content-row .content-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px; }
        .pricing-hero-section .container .content-row .content-col h1 {
          color: #080708; }
        .pricing-hero-section .container .content-row .content-col p {
          color: #080708; }
  .pricing-hero-section .card-container .row .col-md-6 .card {
    padding: 32px;
    border: none;
    border-radius: 14px;
    background-color: #349B60;
    display: flex;
    flex-direction: column;
    gap: 20px; }
    .pricing-hero-section .card-container .row .col-md-6 .card .img-section {
      width: 72px;
      height: 72px;
      border-radius: 50%;
      background-color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center; }
      .pricing-hero-section .card-container .row .col-md-6 .card .img-section img {
        width: 36px;
        height: 36px; }
    .pricing-hero-section .card-container .row .col-md-6 .card .content {
      display: flex;
      flex-direction: column;
      gap: 14px; }
      .pricing-hero-section .card-container .row .col-md-6 .card .content h5 {
        color: #ffffff; }
      .pricing-hero-section .card-container .row .col-md-6 .card .content ul {
        display: flex;
        flex-direction: column;
        gap: 4px; }
        .pricing-hero-section .card-container .row .col-md-6 .card .content ul li {
          font-weight: 500;
          font-size: 14px;
          line-height: 22px;
          color: #ffffff; }

.contact-hero-section {
  margin: 64px 0px 200px 0px;
  display: flex;
  flex-direction: column;
  gap: 80px; }
  .contact-hero-section .container {
    display: flex;
    flex-direction: column;
    gap: 40px; }
    .contact-hero-section .container .row ul.d-flex {
      list-style-type: none; }
      .contact-hero-section .container .row ul.d-flex li a {
        color: #080708;
        text-decoration: none; }
        .contact-hero-section .container .row ul.d-flex li a ul {
          list-style-type: disc; }
          .contact-hero-section .container .row ul.d-flex li a ul li {
            opacity: 0.3; }
    .contact-hero-section .container .content-row {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 120px;
      justify-content: center; }
      .contact-hero-section .container .content-row .content-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px; }
        .contact-hero-section .container .content-row .content-col h1 {
          color: #080708; }
        .contact-hero-section .container .content-row .content-col p {
          color: #080708; }
  .contact-hero-section .card-container .row {
    display: flex;
    align-items: center; }
    .contact-hero-section .card-container .row .col-md-6 .content {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: 32px; }
      .contact-hero-section .card-container .row .col-md-6 .content .address {
        display: flex;
        flex-direction: column;
        gap: 12px; }
        .contact-hero-section .card-container .row .col-md-6 .content .address div small {
          margin-left: 12px;
          font-weight: 400 !important; }
      .contact-hero-section .card-container .row .col-md-6 .content .social {
        display: flex;
        gap: 10px; }
      .contact-hero-section .card-container .row .col-md-6 .content div .main-btn {
        display: flex !important;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 14px 32px;
        border-radius: 10px;
        border: none;
        font-weight: 600 !important;
        font-size: 16px !important;
        line-height: 24px !important;
        background-color: #FDCA40; }
